<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>Simple Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/summary.css') }}">
</head>
<body>
    <div class="page-wrapper">
        <img src="{{ url_for('static', filename='resource/sample.png') }}" alt="Sample Image" class="image">
        <section class="summary-title">
            <div class="label">Summary</div>
            <div class="text">The summary of the content</div>
        </section>
    </div>
</body>
</html>